* {

}

body {
  margin: 0;
}
/* BOX MODEL */
/*
  content
  padding
  border
  margin
*/
p {
  /* default box sizing */
  box-sizing: content-box;

  /* Box model */

  /*
  content */
  width: auto;
  height: auto;
  max-width: auto;
  min-width: auto;
  max-height: auto;
  min-height: auto;

  /*
  padding */
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  /* defining all four sides with the same value */
  padding: 20px;
  /* 10px for TOP and BOTTOM vertical & 20px for RIGHT and LEFT (horizontal )*/
  padding: 10px 20px;
  /* TOP, LEFT&RIGHT, BOTTOM */
  padding: 10px 20px 30px;
  /* TOP RIGHT BOTTOM and LEFT */
  padding: 10px 20px 30px 40px;

  /*
  border */
  border-width: 5px;
  border-style: solid;
  border-color: pink;
  /* shorthand width, style, color */
  border: 15px solid pink;
  /* side specific */
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: transparent;

  /*
  margin
  - space between elements */
  /* TOP&BOTTOM, RIGHT&LEFT */
  margin: 50px 0;

}

p {
  margin: 0;
  padding: 0;
  border: 0;

  margin-bottom: 1em; /* base font size */
  padding-bottom: 1em; /* base font size */
  border-bottom: 1px solid #ddd;
}

article {
  margin: 0;
  margin: .125em;

  margin: 1em; /* 100% of the base font size */
  margin: 0.5em; /* 50% of the base font size */
}

/* html, body, div.wrapper, article, p */
body {
  /* center horizontally (almost a hack) */
  margin: 0 auto;
  text-align: center;

  background-color: pink;
}

article {
  max-width: 550px;

  padding: 20px;
  border: 5px solid #ddd;
  background-color: white;
}

p {
  max-width: 500px;
}
